@tailwind base;
@tailwind components;
@tailwind utilities;

.title-font {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
}
.sans-serif-font {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.serif-font {
  font-family: "IBM Plex Serif", serif;
  font-weight: 400;
  font-style: normal;
}
